
# main CMake build folder
# includes binary and library files
build

# make with pip
venv

# auto generated cache directories
.cache
analysis/__pycache__
scripts/__pycache__

# CMake will create this at configure time
files

# python scripts will ensure these are created
analysis/figures

# sensitive data
scripts/mail.py
# unrelated to project
scripts/rewrite_timelines.py

# assembly analysis, files differ per system
*.asm

# tmux stdout
benchmark.log
